      <!-- footer start -->
      <div class="footer py-5 " id="footer">
        <div class="container">
          <div class="f-wrapper d-flex align-items-center  flex-column w-100 row-gap-3 ">
            <div class="icons d-flex align-items-center gap-5 ">
              <a target="_blank" href="https://github.com/abdum0m1n"><i class="fa-brands fa-github footer_icon"></i></a>
              <a target="_blank" href="https://www.instagram.com/_abdurasulov_5110_?igsh=aHd2ZXppaWp1MDg5"><i class="fa-brands fa-instagram footer_icon"></i></a>
              <a target="_blank" href="https://t.me/AbDuMoMiN14"><i class="fa-brands fa-telegram footer_icon"></i></a>
              <a target="_blank" href=""><i class="fa-brands fa-linkedin footer_icon"></i></a>
            </div>
            <div class="copyright">
              Copyright ©2020 All rights reserved 
            </div>
          </div>
        </div>
      </div>
      <!-- footer end -->