    <!-- nav start -->
    <nav class="navbar navbar-expand-lg   nv  py-md-5 py-3 ">
        <div class="container">
            <div class="nv-wrapper d-flex align-items-center justify-content-between  w-100 ">
                <div class="div1 d-flex align-items-center justify-content-between w-100 ">
                    <a style="font-size: 25px;" class="navbar-brand fw-bolder" href="{% url 'home' %}">PORTFOLIO</a>
                    <ul class="align-items-center list-unstyled m-0 justify-content-end  gap-4 d-flex ul-none ">
                        <li class="nav-item">
                          <a class="nav-link item {% if request.path == '/' %}activ{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link item {% if request.path == '/blog/' or request.resolver_match.url_name == 'blog_detail' %}activ{% endif %}" href="{% url 'blog' %}">Blog</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link item {% if request.path == '/works/' or request.resolver_match.url_name == 'work_detail' %}activ {% endif %}" href="{% url 'works' %}">Works</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link item" href="./contact.html">Contact</a>
                        </li>
                      </ul>
                      <div class="d-flex align-items-center gap-3 ul-none">
                        {% if user.is_authenticated %}
                          <a class="btn-lg btn btn-danger " href="{% url 'logout' %}">logout</a>
                          <a href="{% url 'profile' %}"> 
                            {% if request.user.profile_image %}
                              <img src="{{ request.user.profile_image.url }}" class="rounded-circle border border-3" width="50" height="50" alt="">
                            {% else %}
                              <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" class="rounded-circle border border-3" width="50" height="50" alt="">
                            {% endif %}
                          </a>
                        {% else  %} 
                          <a class="nav-link item" href="{% url 'login' %}">Sign in</a>
                          <a class="h-a py-1 px-2 " href="{% url 'sign_up' %}">Sign up</a>
                        {% endif %}
                      </div>
                </div>
                <i class="fa-solid fa-bars menu"></i>
            </div>
        </div>
      </nav>
      <!-- nav end -->

      <!-- nav -->
      <div class="nv-modal fad ">
        <div class="container90">
            <div class="modal-wrapper">
                <div class="ix d-flex  justify-content-end py-3 "><i style="color: black;" class="fa-solid fa-x "></i></div>
                <ul class=" list-unstyled m-0  gap-4 d-flex d-flex flex-column py-5 ">
                  <li class="nav-item">
                    <a class="nav-link item {% if request.path == '/' %}activ{% endif %} " aria-current="page" href="{% url 'home' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link item {% if request.path == '/blog/' or request.resolver_match.url_name == 'blog_detail'%}activ{% endif %}"href="{% url 'blog' %}">Blog</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link item {% if request.path == '/works/' or request.resolver_match.url_name == 'work_detail' %}activ {% endif %} " href="{% url 'works' %}">Works</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link item"  href="./contact.html">Contact</a>
                  </li>
                </ul>
                <div class="d-flex align-items-center gap-3 ">
                  {% if user.is_authenticated %}
                    <a class="btn btn-danger " href="{% url 'logout' %}">logout</a>
                    <a href="{% url 'profile' %}"> 
                      {% if request.user.profile_image %}
                        <img src="{{ request.user.profile_image.url }}" class="rounded-circle border-1" width="50" height="50" alt="">
                      {% else %}
                        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" class="rounded-circle border-1" width="50" height="50" alt="">
                      {% endif %}
                    </a>
                  {% else  %} 
                    <a class="nav-link item" href="{% url 'login' %}">Sign in</a>
                    <a class="h-a py-1 px-2 " href="{% url 'sign_up' %}">Sign up</a>
                  {% endif %}
              </div>
            </div>
        </div>
    </div>
    <!-- nav -->